<div class="container">
<div class="row vh-100 justify-content-center align-items-center">
  <div class="col">
    <div class="card shadow-lg very-rounded">
      <div class="card-body">
		  <div class="h3 font-weight-bold">Login Method</div>
		  <a href="/auth/google/" class="btn btn-lg btn-success very-rounded mt-4">Login with Google</a>
		  <br>
		  <small class="text-secondary">Right now we only support google Auth</small>
	  </div>
    </div>
  </div>
</div>
</div>