<div class="container">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col">
      <div class="card shadow-lg very-rounded">
        <div class="card-body">
          <div class="display-4">Welcome to LetMeIn</div>
          <h5>A service which lets you into places</h5>
        </div>
      </div>
    </div>
  </div>
</div>