/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00845e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #04382a;
  border-radius: 0rem;
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 1rem;
}
