<div class="container">
  <div class="row mt-4 align-items-center justify-content-center">
    <div class="col">
      <div class="card shadow-lg very-rounded">
        <div class="card-body">
          {{#if bookings}}
            To do: Show bookings here
          {{else}}
            <div class="h4 font-weight-bold">
              No bookings yet
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>